<html>
   <body>
      <form action = # method = "post">
        <p>Enter name:</p>
        <p><input type = "text" name = "nm" /></p>
         <p>Enter source:</p>
         <p><input type = "text" name = "no" /></p>
         <p>Enter destination:</p>
         <p><input type = "text" name = "np" /></p>
         <p>Enter date of travel:</p>
         <p><input type = "text" name = "nq" /></p>        
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html>
